.cardContainer {
  width: 570px;
  display: flex;
  flex-direction: column; 
  border-radius: 4px;
  background-color: white;
  padding: 16px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardBody {
  display: flex;
  flex-direction: row; 
}

.weatherInfoDescription {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.weatherInfoContainer {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 550px;
  overflow-x: scroll;
}

.weatherInfoItem {
  margin: 0 8px;
}